body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background : #f0f0f0
}
.container {
    background : white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
h1 {
    color:#355C7D;
}
input {
    padding : 10px;
    width : 200px;
    font-size : 16px;
    margin-right: 10px;
}
button {
    padding: 10px 10px;
    font-size: 16px;
    background: #4caf50;
    color : white;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background: #45a049;
}
#message {
    margin-top: 20px;
    }
#guessHistory {
    margin-top: 20px;
}

